    /* The hourCheckbox */

    .schedulerTitle {
        display: block;
        position: relative;
        text-align: center;
        margin-bottom: 2px;
        margin-left: 2px;
        height: 25px;
        line-height: 25px;
        width: 98%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hourCheckbox {
        display: block;
        position: relative;
        margin-bottom: 2px;
        margin-left: 2px;
        cursor: pointer;
        height: 25px;
        width: 98%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox*/

    .hourCheckbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */

    .hourCheckbox:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */

    .hourCheckbox input:checked~.checkmark {
        background-color: #2196F3;
    }

    #weekScheduler, .timeZoneControl{
        display: flex;
        flex-flow: row;
    }

    .dayScheduler {
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    /* Sliders for the irrigation time */

    .slidecontainer {
        width: 100%;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #eee;
        outline: none;
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
        background-color: #ccc;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #2196F3;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #2196F3;
        cursor: pointer;
    }